.flex {
    display: flex;
    justify-content: right;
    align-items: center;
}

.middle {
    composes: flex;

    justify-content: space-between;
    width: 530px;
    height: 80px;
    background-color: #1C1C21;
    border-radius: 40px;
}

.amount {
    composes: flex;

    cursor: unset;
}

.name {
    width: 254px;
    white-space: pre-line;
}

.image {
    width: 80px;
    height: 40px;
}

.top {
    composes: middle;

    border-radius: 88px 88px 40px 40px;
}

.bottom {
    composes: middle;

    border-radius: 40px 40px 88px 88px;
}

.icon_grab {
    cursor: grab;
}
