.ingredient {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
}

.title {
    white-space: pre-line;
    text-align: center;
}